{% extends "navbar.html"%}
{% block estilos %}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        padding: 20px;
    }

    form {
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    input[type="text"],
    input[type="email"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }

    input[type="submit"] {
        width: 100%;
        background-color: #007bff;
        color: #fff;
        padding: 10px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    input[type="submit"]:hover {
        background-color: #0056b3;
    }
</style>
{% endblock %}
{% block content %}
<body>
<h1>Agregar productos</h1>
    <form class=form action="{% url 'agregar_producto' %}" method="post">
        {% csrf_token %}
        <label for="id_producto">Bar code:</label><br>
        <input type="number" id="id_producto" name="id_producto"><br>
        
        <label for="Product_name">Nombre:</label><br>
        <input type="text" id="Product_name" name="Product_name"><br>
        
        <label for="stock">STOCK incial:</label><br>
        <input type="number" id="stock" name="stock"><br>
        
        <label for="Product_descripcion">Descripcion:</label><br>
        <input type="text" id="Product_descripcion" name="Product_descripcion"><br>

        <label for="Precio">Precio:</label><br>
        <input type="number" id="Precio" name="Precio"><br>
        
        <input type="submit" value="Agregar producto">
    </form>
</body>
{% endblock %}