{% extends "navbar.html"%}
{% block estilos %}
        <style>
            body {
                font-family: Arial, sans-serif;
                background-color: #f4f4f4;
                padding: 0;
            }
    
            form {
                background-color: #fff;
                padding: 20px;
                border-radius: 5px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            }
    
            input[type="text"],
            input[type="email"] {
                width: 100%;
                padding: 10px;
                margin-bottom: 10px;
                border: 1px solid #ccc;
                border-radius: 3px;
            }
    
            input[type="submit"] {
                width: 100%;
                background-color: #007bff;
                color: #fff;
                padding: 10px;
                border: none;
                border-radius: 3px;
                cursor: pointer;
                transition: background-color 0.3s;
            }
    
            input[type="submit"]:hover {
                background-color: #0056b3;
            }
        </style>
{% endblock %}
{% block content %}
<h1>Cargar venta</h1>
    <form class=form action="{% url 'Cargar_venta' %}" method="post">
        {% csrf_token %}
        <label for="nombre_cliente">Cliente:</label><br>
        <input type="text" id="nombre_cliente" name="nombre_cliente"><br>
        
        <label for="Total">Total del pedido:</label><br>
        <input type="number" id="Total" name="Total"><br>
        
        <label for="Entregado">Entregado:</label><br>
        <input type="bool" id="Entregado" name="Entregado"><br>
        
        <input type="submit" value="Crear Cliente">
    </form>
    </body>
{% endblock %}