{% extends "navbar.html"%}
{% block estilos %}
<style>
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f9f9f9;
}
.search-form {
    display: inline-block;
    margin-right: 10px;
    margin-left: 30px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.search-input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

.search-button {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #0056b3;
}

</style>
{% endblock %}
{% block content %}
<div class="cont form">
<form method="GET" class="search-form">
    <input type="text" name="nombre" placeholder="Buscar cliente por nombre" class="search-input">
    <button type="submit" class="search-button">Buscar</button>
</form>

<form method="GET" class="search-form">
    <input type="text" name="cuit" placeholder="Buscar cliente por CUIT" class="search-input">
    <button type="submit" class="search-button">Buscar</button>
</form>

<form method="GET" class="search-form">
    <input type="text" name="zona" placeholder="Buscar cliente por zona" class="search-input">
    <button type="submit" class="search-button">Buscar</button>
</form></div>
<h1>Clientes</h1>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Calle</th>
                <th>Razón Social</th>
                <th>Teléfono</th>
                <th>Email</th>
                <th>CUIT</th>
                <th>Zona</th>
                <th>Accciones</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
            <tr>
                <td>{{ cliente.nombre }}</td>
                <td>{{ cliente.calle }}</td>
                <td>{{ cliente.razon_social }}</td>
                <td>{{ cliente.numero_cel }}</td>
                <td>{{ cliente.email }}</td>
                <td>{{ cliente.cuit }}</td>
                <td>{{ cliente.zona }}</td>
                <td>
                    <a href="{% url 'actualizar_cliente' cliente.id_cliente %}">Actualizar</a>
                    <form action="{% url 'borrar_cliente' cliente.id_cliente %}" method="post" style="display: inline;">
                        {% csrf_token %}
                        <input type="submit" value="Borrar">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endblock %}